#MainMenu,
.stDeployButton {
  display: none;
}

.st-emotion-cache-cnbvxy {
  text-align: center;
  padding-bottom: 10px;
}

.st-emotion-cache-1qg05tj {
  padding-left: 5px;
}

[data-testid="stMarkdownContainer"] {
  text-align: start;  
}

[data-testid="stMetric"] {
  border: 2px solid #73AD21;
  border-radius: 15px;
  border-color: #F8F8FF;
  padding: 20px; 
}